body {
    font-family: 'Roboto', sans-serif
}

p {
    line-height: 200%;
    font-size: 107%
}

span {
    line-height: 200%;
    font-size: 107%
}

a {
    text-decoration: none;
    color: #2490fd;
    line-height: 200%;
    font-size: 107%
}

img {
    height: 300px;
}

.sidebar {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2490fd;
    color: #ffffff;
    overflow-x: hidden;
}

.sidebar h3 {
    text-indent: 21px;
    color: #ffffff;
}

.sidebar a {
    text-align: left;
    text-indent: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.sidebar a.active {
    background-color: #003a74;
    color: black;
}

.sidebar a:hover {
    background-color: #3198ff;
}

/* Main content area */
.content {
    flex-grow: 1;
    width: fit-content;
    margin-left: 300px;
    margin-right: 300px;
}

.active {
    display: block;
}

.logo-container {
    margin-top: 8px;
}

.logo-container img {
    margin-left: 14px;
    width: 102px;
    cursor: pointer;

}
