body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: #2490fd;
}

nav a{
    float: left;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
}

.nav-links {
    color: #ffff;
}

.nav-links:hover {
    background-color: #3198ff;
}

.logo-container {
    margin-top: 16px;
}

.logo-container img {
    height: 50px;
    cursor: pointer;
}